<a href="https://colab.research.google.com/github/Rishiverma1993/Skill-India-AI-ML-Scholarship/blob/main/30_Day_challenge_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **14-10-2021**

In [ ]:
# Aithmetic operators
x = 5
y = 6
#print(x+y)
#print(x-y)
#print(x*y)
#print(15/y)
#print(15//y)
print(21**3)

9261

In [ ]:
# Camparison operator
#x == y # equal
#x != y # not equal
#x < y 
#x > y 
#x >= y 
#x  <= y

False

In [ ]:
# Assignment operator 
a = 5
a = a + 1
#6
a +=1 
#print(a)
a -= 1 
print(a)
a *= 5 
#print(a)
a //= 5 
print(a)

6
6

In [ ]:
# logical
False and True
False or True
not True

False

In [ ]:
# Identity operator
#'person' is "Person"
'Person' is not "person"

True

In [ ]:
# membership operator
'per' in "person"
'per' not in "person"

False

In [ ]:
# bitwose operator
True & True
True | True

True

In [ ]:
x =  input()
type(x)

12a a

str

In [ ]:
a = ''' Rishu said,
 "I'm teaching" '''
print(a)

 Rishu said,
 "I'm teaching"

In [ ]:
# string slicing
name = 'Rishu'
# print(name)
# name[0:2]
# print(name[5:3])
name[-3:-1:]

'sh'

In [ ]:
name[::-1]

'uhsiR'

# **18/10/2021**

In [ ]:
#defining str in python
a = 'Hello'
print(a)
b= "Hello"
print(b)
c= '''Hello'''
print(c)
d= """Hello"""
print(d)

Hello
Hello
Hello
 Hello

In [ ]:
#Acessing string characters in python
a= "Shubh Sharma"
#print('String :',a)

#first character 
#print(a[0])

#last character
#print(a[-1])

#slicing 
print(a[0:5])

Shubh

In [ ]:
string ="30 days challenge"
string[5:-2]

'ys challen'

In [ ]:
string= 'Program'
#print(string[5])
#string[5]='o'
print(string)

TypeError: ignored

In [ ]:
# string operation 
str1='Hello '
str2='World'
#print(str1+str2)
print(str1*2)
len(str1)

Hello Hello

6

In [ ]:
#two string literals togethe
"Hello ""World"

#using parentheses
s= ('hello'
     'world')
print(s)
type(s)

helloworld

str

In [ ]:
#string formation 
print('My name is %s and weight is %f kgs!'%('Shubh', 72.89))

My name is Shubh and weight is 72.890000 kgs!

In [ ]:
Name = input("Enter your name :")
print(Name)

weight = int(input("Enter your weight : "))

print('My name is %s and weight is %d kgs!'%(Name, weight))

Enter your name :shubh
shubh
Enter your weight : 72
My name is shubh and weight is 72.000000 kgs!

In [ ]:
#print('this is a string {}'.format('inserted'))
Name = input("Enter your name :")
print(Name)

weight = int(input("Enter your weight : "))
print(f"my name is {Name} and weight is {weight}")

Enter your name :shubh
shubh
Enter your weight : 88
my name is shubh and weight is 88

# **19/10/2021**

In [ ]:
#to make first letter capital 
name = "shubh"
print(name)
print(name.capitalize())

shubh
Shubh

In [ ]:
# to make string at center in given space 
name.center(80)

'                                     shubh                                      '

In [ ]:
sen = "my name is shubh"
substring = "m"
print(sen.count(substring))

2

In [ ]:
num= "thishi"
#print(num.isalnum())

num1 = " this is string example 123"
print(num1.isalnum())

False

In [ ]:
num="three"
print(num.isalpha())

True

In [ ]:
num= "123456"
print(num.isdigit())

num1= "this is string example!!!"
print(num1.isdigit())

True
False

In [ ]:
num1= "this is string example!!!"
print(num1.upper())

num= "THIS is STRING example!!!"
print(num.lower())

THIS IS STRING EXAMPLE!!!
this is string example!!!

In [ ]:
#"a" in 'program'
"at" not in "battle"

False

In [ ]:
str1 = "shubh"
list_str1= list(enumerate(str1))

print(list_str1)

len(str1)

[(0, 's'), (1, 'h'), (2, 'u'), (3, 'b'), (4, 'h')]

5

In [ ]:
# he said, "What's there?"
#using triple quotes 
print('''He said, "What's there?"''')

#escaping single quotes
print('He said, "What\'s there?"')

#escaping double quotes 
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [ ]:
# "Hello World"
wish ="Hello World"
substring="l"
print(wish.count(substring))

3

In [ ]:
help(str)

**LIST**

In [ ]:
#sort( ) Method
price= [7.5, 78.6, 98, 2.325, 56, 99999]
price.sort()
print(price)

[2.325, 7.5, 56, 78.6, 98, 99999]

In [ ]:
#type 
list1 = ["abx", 1.32, 'val', 98, "i"]

type(list1)

list

In [ ]:
#Access values in the variable using index num
list1 = ["abx", 1.32, 'val', 98, "i"]
print(list1[1])
print(list1[-1])
print(list1[3:4])
print(list1[2:])
print(list1[2:6])

1.32
i
[98]
['val', 98, 'i']
['val', 98, 'i']

In [ ]:
#append() method
months = ['January', 'February', 'March']
print(len(months))
months.append(['April','May'])
print(len(months))

print(months)

3
4
['January', 'February', 'March', ['April', 'May']]

In [ ]:
#extend()
list2= [1, 2, 3, 4]
print(len(list2))
list2.extend([5,6,7,8,9,10])
print(len(list2))
print(list2)

4
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [123, 'xyz', 55.5, 40+5j, True,["aa",'b']]
list1[-1]= 1
print(list1)

[123, 'xyz', 55.5, (40+5j), True, 1]

In [ ]:
#index( ) method 
month = ['January', 'February', 'March', 'April', 'May']
month.index('March')

2

In [ ]:
#max function 
price = [777.5,8998,7545,99999,202001,2,45515,6 ]
price_max= max(price)
print(price_max)

# min function
price_min = min(price)
print(price_min)

202001
2

In [ ]:
#len()
list1=[1]
list2=[1,2,3,4,5]
print('list1 lenght is ', len(list1))
print('list2 lenght is ', len(list2))

list1 lenght is  1
list2 lenght is  5

In [ ]:
#clear() function
list1= [1,2,3,4,5,6]
list1.clear()
print(list1)
len(list1)

[]

0

# **20-10-2021**

In [ ]:
help(list)

In [ ]:
 x = a
 x
 del x
#  x.clear()

In [ ]:
x = [1,2]
x.clear()

In [ ]:
x = 'abxcydz'
y = sorted(x)
y

['a', 'b', 'c', 'd', 'x', 'y', 'z']

In [ ]:
help(sorted)

In [ ]:
# tuple
z =()
type(z)
z = ('a',1,True,[1,5])
z

('a', 1, True, [1, 5])

In [ ]:
help(tuple)

In [ ]:
za = (1,2,3,4,4,1,2)
za.count(1)
za.index(4)
az = (1,2,5,8,9)
y = az + za
y

(1, 2, 5, 8, 9, 1, 2, 3, 4, 4, 1, 2)

In [ ]:
type(y)
x = list(x)
x
y = tuple(x)
y

('a', 'b', 'x', 'c', 'y', 'd', 'z')

# 21-10-2021

In [ ]:
True + True * (True - False and True + False) ** 5

## Sets

In [ ]:
a = {1,2}

TypeError: ignored

In [ ]:
a = {1,2,3,5,8,5,8,7,5}
type(a)
print(a)

{1, 2, 3, 5, 7, 8}

In [ ]:
b = {4,5,7}
b

{4, 5, 7}

In [ ]:
help(set)

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
a.intersection(b)

{5, 7}

In [ ]:
a | b

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
a & b

{5, 7}

In [ ]:
b.issubset(a)

False

In [ ]:
b = frozenset(b)
type(b)

frozenset

## Dictionary

In [ ]:
adict = {"name":"Rishu","value":25}
adict

{'name': 'Rishu', 'value': 25}

In [ ]:
help(dict)

In [ ]:
adict.items()
adict.keys()
adict.values()

dict_values(['Rishu', 25])

In [ ]:
adict['name'] = 'Shubh'
adict
adict['new_name'] = "Aayush"
adict
del adict['value']
adict

{'name': 'Shubh', 'new_name': 'Aayush'}

In [ ]:
del adict
adict

In [ ]:
adict.pop('name')

'Rishu'

In [ ]:
adict.clear()

In [ ]:
adict

{'value': 25}

In [ ]:
a = tuple(adict.items())
a

(('value', 25),)

#22-10-2021

In [ ]:
True + True and False + (True + True and False + True) ** 5 + 5

In [ ]:
adict = {"name":"Rishu","value":25}
adict.items()

dict_items([('name', 'Rishu'), ('value', 25)])

In [ ]:
a = 'Rishu'
a = sorted(a)
a

['R', 'h', 'i', 's', 'u']

## Conditional Statement

In [ ]:
n = int(input())

if n % 2 == 0 :
  print(f'Number {n} is even ')
else :
  print(f'Number {n} is odd ')

Number 32 is odd

In [ ]:
is_male = False
is_tall = True

if is_male and is_tall:
  print('Person is male and tall')
elif is_male and not(is_tall):
  print('Person is male and not tall')
elif not is_male and (is_tall):
  print('Person is Female and tall')
else:
  print('Person is Female and not tall')

Person is Female and tall

In [ ]:
score = int(input())
money = int(input())
age = int(input())

if score > 500:
  print("you got good score")
  if money >= 50000:
    print("you won")
    if age >= 30:
      print('you win in middle age')
    else:
      print('you win in young age')
  else:
    print("You have enough score but not enough money")
else:
  print('you are looser')

499
50002
65
you are looser

# 25-10-2021

In [ ]:
num_1 = eval(input("Enter first number : "))
operator = input("Enter operator (+,-,/,*,//,%) : ")
num_2 = eval(input("Enter Second number : "))

if operator == '+':
  if num_1==75 and num_2 == 5:
    print(f'addition of {num_1} and {num_2} is 80.5')
  else:
    print(f'addition of {num_1} and {num_2} is {num_1+num_2}')
elif operator == '-':
  print(f'substrction of {num_1} and {num_2} is {num_1-num_2}')
elif operator == '*':
  print(f'multiplication of {num_1} and {num_2} is {num_1*num_2}')
elif operator == '/':
  if num_1==80 and num_2 == 3:
    print(f'division of {num_1} and {num_2} is 26.33')
  else:
    print(f'division of {num_1} and {num_2} is {num_1/num_2}')
elif operator == '%':
  if num_1==15 and num_2 == 3:
    print(f'Remainder of {num_1} and {num_2} is 1')
  else:
    print(f'Remainder of {num_1} and {num_2} is {num_1%num_2}')
elif operator == '//':
  print(f'Floar division of {num_1} and {num_2} is {num_1//num_2}')
else:
  print("something is worng")

# 26-10-2021

## For Loop

In [ ]:
list(range(0,5,2))

[0, 2, 4]

In [ ]:
for i in range(0,5,3):
  print("30 day challange",i)
print("end")

In [ ]:
for i  in range(0,5,2):
  print('Number is even',i)
else:
  print('nothing')

In [ ]:
alist = ["Rishu",'Aayush','Shubh','Ram']

for i in alist:
  if len(i) > 3:
    continue
  print(f'my name is {i}')

In [ ]:
for i in alist:
  if len(i) == 3:
    break
  print(f'my name is {i}')

In [ ]:
for i in alist:
  pass

## While loop

In [ ]:
i = 0
while i < 10:
  print('Number is ',i)
  i = i + 1

Number is  0
Number is  1
Number is  2
Number is  3
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8
Number is  9

In [ ]:
i = 0
while i < 10:
  print('Number is ',i)
  i = i + 1
else:
  print('Loop has ended')

Number is  0
Number is  1
Number is  2
Number is  3
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8
Number is  9
Loop has ended

In [ ]:
i = 0
while i < 10:
  i = i + 1
  if i == 5:
    continue
  print('Number is ',i)

Number is  1
Number is  2
Number is  3
Number is  4
Number is  6
Number is  7
Number is  8
Number is  9
Number is  10

In [ ]:
i = 0
while i < 10:
  i = i + 1
  if i == 5:
    break
  print('Number is ',i)

Number is  1
Number is  2
Number is  3
Number is  4

In [ ]:
i = 0
while i < 10:
  pass
  i = i + 1

# 27-10-2021

## Nested loop

In [ ]:
x = (1,'apple')

In [ ]:
i,j = x

In [ ]:
print(i,j)

1 apple

In [ ]:
y,z = 1,2
print(y,z)

1 2

In [ ]:
alist = ["Rishu",'Aayush','Shubh','Ram']

for i,j in enumerate(alist):
  print('index is {0} and value of index is {1}'.format(i,j))

index is 0 and value of index is Rishu
index is 1 and value of index is Aayush
index is 2 and value of index is Shubh
index is 3 and value of index is Ram

In [ ]:
enumerate(alist)

In [ ]:
for i in range(1,10):
  print(i)
  for j in range(10,15):
    print(j)

In [ ]:
j = 1
for i in range(1,10):
  print(i)
  while j == i:
    print(f'its while loop {j}')
    j += 1

In [ ]:
for i in range(1,10):
  print(i)
  j = i
  while j == i:
    print(f'its while loop {j}')
    j += 1

In [ ]:
for i in range(1,10):
  print('\n')
  for j in range(0,i):
    print(j,end='')

## Function

In [ ]:
while False:
  print(1)

# 28-10-2021

## Functions

In [ ]:
a = [1,2,5,8]
sum(a)
max(a)
min(a)

1

In [ ]:
string = ['a','b','c','d','e']
sum(string)

In [ ]:
'a'+'b'

'ab'

In [ ]:
define a function for concatanation of string

In [ ]:
print("Hello 360DigiTMG")

Hello 360DigiTMG

In [ ]:
def hifun():
  print("Hello 360DigiTMG")

In [ ]:
hifun()

Hello 360DigiTMG

In [ ]:
def hifun1(name ,age, sal):
  print(f'my name is {name} and age is {age} year, My current salary is {sal}.')

In [ ]:
hifun1(name = 'Rishu',age= 26,sal=45000)
hifun1(name = 'Raj',age= 45,sal=80000)
hifun1('Aayush',25,45000)
hifun1(25,'Santosh',50000)
hifun1(age=25,name='Santosh',sal=50000)

my name is Rishu and age is 26 year, My current salary is 45000.
my name is Raj and age is 45 year, My current salary is 80000.
my name is Aayush and age is 25 year, My current salary is 45000.
my name is 25 and age is Santosh year, My current salary is 50000.
my name is Santosh and age is 25 year, My current salary is 50000.

In [ ]:
def square(first):
  a = first ** 2
  print(a)
  return a

In [ ]:
x = square(5)

25

In [ ]:
print(x)

25

### Docstring

In [ ]:
def cube(first):
  ''' It will going to take the number and return the cube '''
  a = first ** 3
  # print(a)
  return a

In [ ]:
cube(5)

125

In [ ]:
help(list)

In [ ]:
help(cube)

In [ ]:
cube.__doc__

' It will going to take the number and return the cube '

In [ ]:
def output(first,second, third):
  x = (first*second +third)+second
  return x

In [ ]:
output(5,6,3)

39

In [ ]:
def func(*arg,**kargs):
  print(arg,kargs)
  print(type(arg))
  print(type(kargs))

In [ ]:
func(1,2,3,4,n = 5,s = 6)

In [ ]:
sum.__doc__

#01-11-2021

## Continued function

In [ ]:
def func(*value):
  for i in value:
    if i%2 == 0:
      print(i)

func(1,2,3,4,5,6,15,8,9,7,8)

In [ ]:
def func1(**value):
  for i,j in value.items():
    print(f'key is {i} and value is {j} ')

func1(name= "rishabh",age = 25,salary = 45000)

In [ ]:
def func2(*value,**dictvalue):
  for i in value:
    if i%2 == 0:
      print(i)
  for i,j in dictvalue.items():
    print(f'key is {i} and value is {j} ')

In [ ]:
func2(1,5,6,8,9,10,name= "rishabh",age = 25,salary = 45000)

# 02-11-2021

## recursion

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  else:
    fact = 1
    for i in range(1,N+1):
      fact *= i
    print(f'Factorial of {N}! is {fact}')
fact(5)

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  elif N == 1:
    return 1
  else:
    return (N * fact( N-1 ))
fact(5)

## global local

In [ ]:
x = 5
def new():
  print('number is',x)

new()
print(x)

number is 5
5

In [ ]:
x = 5
def new():
  x = 10  #local
  print('number is',x)

new()
print(x)

number is 10
5

In [ ]:
x = 5
def new():
  global x
  x = 10   #global
  print('number is',x)

new()
print(x)

number is 10
10

## Anonymous

In [ ]:
var = lambda x : x + 2

var(15)

17

In [ ]:
var = lambda x : fact(x) + 2

var(5)

122

## Map

In [ ]:
a = [1,2,3,4,5]

list(map(fact,a))

[1, 2, 6, 24, 120]

In [ ]:
list(map(lambda x : x**4, a))

[1, 16, 81, 256, 625]

In [ ]:
a = [1,2,3,4,5]
b = []
for i in a:
  b.append(str(i))
print(b)

['1', '2', '3', '4', '5']

In [ ]:
b = list(map(str,a))

print(b)

['1', '2', '3', '4', '5']

In [ ]:
help(map)

## filter

In [ ]:
list(filter(lambda x : x % 2,a))

[1, 2, 3, 4, 5]

In [ ]:
help(filter)

## Reduce

In [ ]:
from functools import reduce
a = [1,2,3,4,5]
reduce(lambda x,y : x * y, [1, 2, 3, 4, 5])

120

In [ ]:
help(reduce)

## Comprehension

In [ ]:
[i for i in range(15)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
[i for i in range(15) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14]

In [ ]:
[i for i in range(15) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14]

In [ ]:
[i if i % 2 == 0 else 'odd' for i in range(15)]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14]

In [ ]:
{n:n**2 for n in range(10) if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

# 03-11-2021

## Zip and unzip

In [ ]:
names = ["Rishu",'Aayush','Shubh','Ram']
age = [25,26,27,25]
salary = [45000,50000,45000,56000]

In [ ]:
new_zip = zip(names,age,salary)
# print(new_zip)

In [ ]:
# print(list(new_zip))
new_zip = set(new_zip)

In [ ]:
new_zip

In [ ]:
a,b,c = zip(*new_zip)

# print("names",a)
# print("age",b)
# print("salary",c)

In [ ]:
print("names",a)
print("age",b)
print("salary",c)

names ('Aayush', 'Shubh', 'Ram', 'Rishu')
age (26, 27, 25, 25)
salary (50000, 45000, 56000, 45000)

## iterator

In [ ]:
names = ["Rishu",'Aayush','Shubh','Ram']
names

['Rishu', 'Aayush', 'Shubh', 'Ram']

In [ ]:
new_list = names.__iter__()
print(new_list)

In [ ]:
help(new_list)

In [ ]:
for obj in new_list:
  print(obj)

In [ ]:
new_list = iter(names)
print(next(new_list))
print(next(new_list))
print(next(new_list))

In [ ]:
print(next(new_list))

In [ ]:
for obj in names:
  print(obj)

In [ ]:
names = [i for i in range(1000000)]
new_list = iter(names)

In [ ]:
import sys
print(f'size of variable names is',sys.getsizeof(names))
print(f'size of variable new_list is',sys.getsizeof(new_list))

size of variable names is 8697472
size of variable new_list is 64

In [ ]:
for i in range(50):
  print("names values",names[i])
  print(next(new_list))

## Generators

In [ ]:
def squence(N):
  x = []
  for i in range(N):
    x.append(i)
  return x

In [ ]:
alist = squence(100)

In [ ]:
alist

In [ ]:
def squence(N):  
  for i in range(N):
    yield i

In [ ]:
blist = squence(100)
print(blist)

<generator object squence at 0x7f8623c54bd0>

In [ ]:
print(f'size of variable new_list is',sys.getsizeof(alist))

size of variable new_list is 920

In [ ]:
for i in blist:
  print(i)

In [ ]:
next(blist)

In [ ]:
help(squence)

Help on function squence in module __main__:

squence(N)

## Main method

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  else:
    fact = 1
    for i in range(1,N+1):
      fact *= i
    print(f'Factorial of {N}! is {fact}')

print(__name__)

__main__

# 05-11-2021

#file handling

In [ ]:
f = open("/content/Model Deployment.txt")
f.read(100)
f.close()

In [ ]:
with open("/content/Model Deployment.txt") as file:
  xy  = file.read()

In [ ]:
print(xy)

#first
Import joblib
filename = 'anymode.sav'
joblib.dump(modelname,filename)

# When we have to deploy the data go to your views.py import it

cls = joblib.load("anymode.sav")
#get your data into list and then use
ans = cls.predict(list)

#print ans whwereever you want it

In [ ]:
f = open("/content/Model Deployment.txt")
f.readline()

'#first \n'

In [ ]:
print(f.readline())
print(f.readline())
print(f.readline())

joblib.dump(modelname,filename)



# When we have to deploy the data go to your views.py import it

In [ ]:
f = open("/content/Model Deployment.txt",mode = 'r')
f.readlines()
f.close()

In [ ]:
wr = open("/content/abc.txt",mode='a')
wr.write('This one is my new file which i had created.')
wr.close()

In [ ]:
wr = open("/content/abc1.txt",mode='x')
wr.write('This one is my new file which i had created.')
wr.close()

In [ ]:
x = open("/content/abc1.txt",mode='a')
x.write('\n Rishabh Singh')
x.close()

In [ ]:
x = open("/content/abc2.txt",mode='w')
x.write('\nAayush')
x.close()

In [ ]:
x = open("/content/abc3.txt",mode='w+')
x.write('\n Rishabh Singh')
x.close()

In [ ]:
x = open("/content/abc3.txt",mode='r+')
x.read()

'\n Rishabh Singh'

In [ ]:
import os
os.remove("/content/abc3.txt")

## Exception Handling

In [ ]:
x = eval(input())
y = eval(input())
print(x/y)

1
0

ZeroDivisionError: ignored

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except :
  pass

1
0

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except :
  print('please input second value that is not equal to zero')

a
please input second value that is not equal to zero

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except (ZeroDivisionError):
  print('please input second value that is not equal to zero')
except (NameError):
  print("there is some issue with your inputs")

a
there is some issue with your inputs

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except (ZeroDivisionError):
  print('please input second value that is not equal to zero')
finally:
  print(f'x as {x} y as {y}')  
  print("Your input is not correct so we changed it on default")

1
5
0.2
x as 1 y as 5
Your input is not correct so we changed it on default

user define exception

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except (ZeroDivisionError):
  print('please input second value that is not equal to zero')
except (NameError):
  raise Exception("you are not putting correct type of data")

a

NameError: ignored

09-11-2021

**Question@1**  


Define a function which can find lucky number from a list 
Lucky number means in a list occurance of that number should be equal to the number and if there are more then one number having same property then choose the max number.




 



**Example**

Example 1:-


*  



List1 = [1,2,2,3,3,4,4,4]


Output:- 2.


Example 2:- 



List2 = [ 2,2,3,3,1,3,2,4,4,4]


Output :- 3

**Explanation: of Example 1**

- number 1 and 2 are having same property but 2 is greater then results is 2

**Function Description**


Complete the lucky function provided in the editor .This  function takes the following 1 parameter and return single digit number.



	List_a: Represents a list.



**Input format** 


**Note**This is the input format that you must use to provied coustom input. 


	The first line has an list, list_a denoting the number of test cases.






**Output format**


	Print lucky each corresponding to the answer to each query.

In [ ]:
def lucky(list_a):
  # write your code here 
  #1st method
  x = []
  for i in set(list_a):
    if i == list_a.count(i):
      x.append(i)

  #2nd method 
  x = [i for i in set(list_a) if i == list_a.count(i)]
  N = max(x)
  return N

if __name__ = '__main__':
  list_a = [int(ele) for ele in input("Enter the list items separate by space:-").split(",")]
  print(lucky(list_a))

**Question@2**  


Define a function which can find palindrome number from a real number, means number that remains the same when its digits are reversed. In other words, it has reflectional symmetry across a vertical axis.
**1st** revers the number check num is palindrome or not. If **yes** then print that number and how many time you have reversed it. If **not** then add that number to previous one and reverse it again and check for palindrome. Do it until the num will be palindrome. 





**Example**

Example 1:-


num = 123
      

*   


     123 + 321 = 444 

     444 is palindrome number
    
    

Output:- 444 ,1


Example 2:- 


num = 174

*  


      174 + 471 = 645
      645 + 546 = 1191
      1191 + 1911 = 3102
      3102 + 2013 = 5115
      5115 is palindrome number


Output :- 5115, 4

**Explanation: of Example 1**

- number 1 and 2 are having same property but 2 is greater then results is 2

**Function Description**


Complete the palindrome function provided in the editor .This  function takes the following 1 parameter and return two number.



   num: Represents a int.



**Input format** 


**Note**This is the input format that you must use to provied coustom input. 


   The first line has an int, num denoting the number of test cases.






**Output format**


   Print palindrome number and step's num each corresponding to the answer to each query.


**constraints**

step can be maximum 30 times if that after 30 steps that number will not convert to palindrome then retun **"Palindrome is not possible"**

In [ ]:
def palindrome(num):
  val = num
  count=0
  reversed_num = num
  while True:
    if val == int(str(val)[::-1]):
      return count ,val
    elif count ==30:
      return  "Palindrome is not possible"
    else:
      reversed_num += int(str(val)[::-1])
      val = reversed_num
      count += 1

if __name__ =='__main__':
  num = int(input("Enter a number :- "))
  print(palindrome(num))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
list_a = [1,2,3,4,5,6,7,8,9]

[item**2 for item in list_a]

a = []
for ele in list_a:
  if ele >5:
    a.append(ele)
#print(a)


#grt>5
#print([i for i in list_a if i>5])

#even
print([ele**2 for ele in list_a if ele%2==0])


#odd 
#[ele for ele in list_a if ele%2!=0]


#ele *4
[ele*4 for ele in list_a]

[4, 16, 36, 64]

[4, 8, 12, 16, 20, 24, 28, 32, 36]

In [ ]:
list_a = [1,2,3,4,5,6,7,8,9]
[ele+1 for ele in list_a]

print([i for i in list_a if i%3!=0])

[1, 2, 4, 5, 7, 8]

**10-11-2021**

In [ ]:
def min_max(X):
    for i in X:
        return min(X),max(X)

min_max([-9,87,8,95,62,0,4])

(-9, 95)

In [ ]:
def even_sqr(x):
  return[ele**2 for ele in x if ele%2==0]

even_sqr([1,2,3,4,5,6,7,8,9])

[4, 16, 36, 64]

In [ ]:
def add(*args):
  res = 0
  for ele in args:
    res = res+ele
  return res 

add(1,2,3,4,5,6,7)

28

# 10-11-2021

## oops

In [ ]:
def cube(number):
  x = number**3
cube(number = 5)

In [ ]:
class Person:
  pass

In [ ]:
class Person:
  
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.salary}')

  def increment(self,percentage):
    self.salary = self.salary + self.salary * percentage/100

In [ ]:
x1 = Person(name = "Rishu", age = 25,salary=45000,gender='Male')
x1.details()

Name of person is Rishu and salary of the person is 45000

In [ ]:
x1.increment(percentage=10)

In [ ]:
x1.salary  = 1000
x1.details()

Name of person is Rishu and salary of the person is 1000

Enc

In [ ]:
class Person:
  
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.__salary = salary  #private varible or encapsulated
    self.gender = gender

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.__salary}')

  def increment(self,percentage):
    self.__salary = self.__salary + self.__salary * percentage/100

In [ ]:
x1 = Person(name = "Rishu", age = 25,salary=45000,gender='Male')
x1.details()
x1.__salary  = 1000
x1.details()

Name of person is Rishu and salary of the person is 45000
Name of person is Rishu and salary of the person is 45000

#11-11-2021

## Inheritance

In [ ]:
class Person:  
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.salary = salary  #private varible or encapsulated
    self.gender = gender

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.salary}')

  def increment(self,percentage):
    self.salary = self.salary + self.salary * percentage/100

In [ ]:
class Employee(Person):
  def __init__(self,name,age,salary,gender,empid,Designation):
    super().__init__(name,age,salary,gender)
    self.empid = empid
    self.Designation = Designation

  def det(self):
    print(f'emp :- {self.empid}\nage :- {self.age}')

  def details(self):
    print(f'''Name of person is {self.name} and salary of the person is {self.salary}
          \nEmployeeid is {self.empid}''')

In [ ]:
x1 = Employee(name = 'Rishu',age=25,salary = 45000 , gender='M',empid=1,Designation='Trainer')

x1.det()

emp :- 1
age :- 25

In [ ]:
x1.details()

Name of person is Rishu and salary of the person is 45000

Employeeid is 1

##Polymorphism

In [ ]:
class A(Person):
  def __init__(self,name,age,salary,gender,game):
    super().__init__(name,age,salary,gender)
    self.game = game

  def details(self):
    print(f'Game play :- {self.game}\nAge :- {self.age} \n Salary {self.salary}')

In [ ]:
x2 = A('Rishu',25,45000,'M','MineCraft')

x2.details()
x2.increment(15)
x2.details()

Game play :- MineCraft
Age :- 25
 Salary 45000
Game play :- MineCraft
Age :- 25
 Salary 51750.0

In [ ]:
x1.details()
x1.increment(25)
x1.details()

Name of person is Rishu and salary of the person is 45000

Employeeid is 1
Name of person is Rishu and salary of the person is 56250.0

Employeeid is 1

In [ ]:
class Employee:  
  #class variable 
  Increments = 12
  Emp_id = 0
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.salary = salary  #private varible or encapsulated
    self.gender = gender
    Employee.Emp_id += 1 

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.salary}')

  def increment(self,percentage):
    self.salary = self.salary + self.salary * percentage/100

  def year_increment(self):
    self.salary = self.salary + self.salary * Employee.Increments/100

  @classmethod
  def update_increment(cls,inc_value):
    cls.Increments = cls.Increments + inc_value 

  @staticmethod
  def add(num1,num2):
    print(num1+num2)

In [ ]:
help(Employee)

In [ ]:
p1 = Employee(name = 'Rishu',age=25,salary = 45000 , gender='M')
p1.details()

Name of person is Rishu and salary of the person is 45000

In [ ]:
p1.add(5,10)

15

In [ ]:
p1.details()
p1.year_increment()
p1.details()

Name of person is Rishu and salary of the person is 45000
Name of person is Rishu and salary of the person is 50400.0

In [ ]:
p1.update_increment(20)

In [ ]:
p1.details()
p1.year_increment()
p1.details()

Name of person is Rishu and salary of the person is 50400.0
Name of person is Rishu and salary of the person is 66528.0

In [ ]:
p2 = Employee(name = 'shubh', age=25,salary = 55000 , gender='M')
p2.details()

Name of person is shubh and salary of the person is 55000

# 12-11-2021




# MySQL DB connection with Python

### Connecting to MySQL

In [ ]:
!pip install mysql.connector

In [ ]:
# importing package

# pip install mysql.connector

import mysql.connector as sql

#connecting to mysql database
mydb = sql.connect(user='root', password='Rish@bh01',host='127.0.0.1',database='health')
print(mydb)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("show databases")

In [ ]:
for x in mycursor:
    print(x)

('emp',)
('employee',)
('information_schema',)
('market',)
('mydata',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [ ]:
mycursor

### creating database schema

In [ ]:
#Create Database
mycursor.execute("CREATE DATABASE EMP")

### connectin to the database schema created

In [ ]:
# Connecting to Database created
mydb = sql.connect(
  host="localhost",
  user="cust1",
  passwd="cust1@123",
  database = 'EMP',
  auth_plugin='mysql_native_password'
)
print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227545D3B08>

In [ ]:
mycursor.execute("show tables")

for x in mycursor:
    print(x)

('finance',)
('hr',)

### creating table

In [ ]:
#creating table
mycursor.execute("CREATE TABLE HR \
                 (Emp_no int primary key, Emp_name varchar(20), \
                 Emp_desig varchar(20), Emp_contact int)")

### Inserting data into the table

In [ ]:
#Inseting values into Table
SQL_Insert = "INSERT INTO HR(Emp_no, Emp_name, Emp_desig, Emp_contact) \
                VALUES (%s,%s,%s,%s)"
                
SQL_Insert_values = [ ('1','abc','hr','123456'),
                      ('2','abc1','hr','12345678'),
                      ('3', 'abc2','hr','1234567')
                    ]
                
mycursor.executemany(SQL_Insert, SQL_Insert_values)

mydb.commit() #commit() is used to save changes to database

In [ ]:
print(mycursor.rowcount,"rows were inserted")

3 rows were inserted

### Creating another table

In [ ]:
#Creating another table Finance
mycursor.execute("CREATE TABLE FINANCE \
                 (Tax_No int primary key AUTO_INCREMENT, \
                 Emp_no int unique,\
                 Salary float)")

### Inserting data

In [ ]:
#Inserting values into Finance Table
SQL_Insert_Finance = "INSERT INTO FINANCE(Emp_no,Salary) VALUES (%s,%s)" 

SQL_Insert_Values_Finance = [(1,10.5),
                             (2,11.5),
                             (3,12.5)
                            ]

mycursor.executemany(SQL_Insert_Finance,SQL_Insert_Values_Finance)

mydb.commit() #commit() is used to save changes

print(mycursor.rowcount,"rows were updated")

3 rows were updated

### Selecting data

In [ ]:
# Condition -- where cluase or where conditions

SQL_where = "SELECT * from HR WHERE Emp_no > 1"

mycursor.execute(SQL_where)

SQL_where_results = mycursor.fetchall()

for x in SQL_where_results:
    print(x)

(2, 'abc1', 'hr', 12345678)
(3, 'abc2', 'hr', 1234567)

In [ ]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(2, 2, 11.5)
(3, 3, 12.5)

In [ ]:
# INNER Join Functions

SQL_join = "SELECT A.Emp_name, A.Emp_desig, B.Salary \
            from HR as A \
            Inner join FINANCE as B\
            on A.Emp_no = B.Tax_no"
            
mycursor.execute(SQL_join)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

('abc', 'hr', 10.5)
('abc1', 'hr', 11.5)
('abc2', 'hr', 12.5)

In [ ]:
# OUTER Join Functions

SQL_join_cross = "SELECT *  \
            from HR \
            CROSS join FINANCE "
            
mycursor.execute(SQL_join_cross)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

### Update the data

In [ ]:
# Where Condition

SQL_salary = "UPDATE FINANCE SET Salary=11 WHERE Salary = 11.5"
mycursor.execute(SQL_salary)

mydb.commit()

In [ ]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(2, 2, 11.0)
(3, 3, 12.5)

### Delete the data

In [ ]:
# rollback()-- it won't allow the execution of command

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"  #deleting salary data if >=11.5
mycursor.execute(SQL_salary)

mydb.rollback()
mydb.commit()

In [ ]:
# Testing of rollback

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

    
# We still get the record of salary>=11.5 as we have used rollback() earlier which stopped the deletion

(3, 3, 12.5)

In [ ]:
# Without rollback

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"
mycursor.execute(SQL_salary)
mydb.commit()

In [ ]:
SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

**Practice** **15/11/2021**

In [ ]:
reorder([-7,5,9,-75,89,-1,8,-52,45,98,-78,555,-875,1])

In [ ]:
def reorder(x):
  neg=[ele for ele in x if ele<0]
  pos=[item for item in x if item>-1]
  return neg+pos

reorder([-7,5,9,-75,89,-1,8,-52,45,98,-78,555,-875,1 ,0])

[-7, -75, -1, -52, -78, -875, 5, 9, 89, 8, 45, 98, 555, 1, 0]

In [ ]:

def reverse(st):
    list_1 = []
    list_1 = st.split(' ')
    list_1.reverse()
    st = ' '.join(list_1)
    return st
reverse('wuhan virus = chinese virus') 
#virus chinese = virus wuhan

'virus chinese = virus wuhan'

In [ ]:
#4+44+444+4444
#3+33+333
n=int(input("Enter a number n: "))

Enter a number n: 4
The value is: 492

8641969

In [ ]:
def sequance(n):
  seq_list=[]
  for ele in range(1,n+1):
    seq_list.append(str(n)*ele)
  sum=0
  for ele in seq_list:
    sum=sum+int(ele)
  return sum

n=int(input("Enter a number n: "))
print(sequance(n))

Enter a number n: 5
61725